<html>
    <head>
        <title>Búsqueda de eventos</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="./lista_busqueda.css">
</head>
<body>
        <h1>Búsqueda de eventos</h1>
        <input type="hidden" id="id" name="id" value={{id}}>
        <input type="text" name="evento" id="evento" placeholder="Nombre del evento">
        <div id="listaEventos"></div>
        
        <br> <br> 
        <a href="index.php">Volver a inicio</a>
</body>
<script type="text/javascript" src="./templates/scripts/autocompletado.js"></script>
</html>