<!DOCTYPE html>
<html lang="es-ES">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="img/logo.png">
  <title>Conciertos SIBW</title>
  <link rel="stylesheet" href="evento_imprimir.css"> <!-- He eliminado el menú y el panel auxiliar -->
</head>
<body>
  <div class="header">
    <img src="img/logo.png" alt="Logo">
    <a href="index.html">
      <h1>Conciertos SIBW</h1>
    </a>
  </div>
  <div class="parte_baja">
    <div class="container_evento">
      <div class="panel_evento">
        <h2>boy pablo en Madrid (Marzo)</h2>
        <p id="subheader">Conciertos SIBW<br>29 de marzo a las 20:00</p>
        <div class="cuerpo_evento">
          <p id="descripcion">El grupo chileno-noruego boy pablo tocará en la sala SIBW el próximo 29 de marzo a las 20:00 en Madrid. A continuación: un párrafo de Wikipedia para llenar el panel:<br><br>
            Nicolás Muñoz, hijo de padres chilenos, nació en Bergen, Noruega. Estudió la secundaria en la escuela privada de música Kongshaug Musikkgymnas, localizada en las cercanías de la ciudad de Os. Fundó el proyecto "Boy Pablo" en diciembre de
            2015, llamando la atención en el 2016, recibiendo una beca Bergenfest.<br>
            La banda adquirió gran notoriedad en el 2017 gracias a la canción y el videoclip "Everytime". El video, subido a YouTube en mayo de 2017, generó miles de visitas, en parte gracias a un hilo en Reddit, para luego aumentar a millones al ser
            recomendado por los nuevos algoritmos de YouTube, en octubre de 2017.<br>
            Boy Pablo lanzó el EP de 6 canciones Roy Pablo en mayo de 2017, que incluye la canción "Everytime". En marzo de 2018 lanzó el sencillo "Losing You".6​7​ Por esa misma fecha dieron sus primeros conciertos fuera de Noruega, en una gira por
            Europa. Aunque Muñoz graba y produce su música solo, en sus presentaciones en vivo incluye a sus antiguos compañeros de clase: Gabriel en la guitarra, Henrik en el bajo, Eric en los teclados y Sigmund en la batería.</p>
          <div class="imagenes">
            <div class="foto">
              <img src="img/boy_pablo.jpg" alt="boy pablo">
              <a href="https://www.boypablo.com">
                <p>boy pablo - marzo en Madrid
              </a><br><span style="font-size:50%">Fotografía tomada por Juan Ejemplo</span></p>    <!-- Eliminados también los botones de las redes sociales y la impresión -->
            </div>
            <div class="foto">
              <img src="img/sala.jpg" alt="Sala SIBW">
              <a href="https://www.salaclamores.es">
                <p>El concierto tomará lugar en la sala SIBW en Madrid
              </a><br><span style="font-size:50%">Fotografía tomada por Juan Ejemplo</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel_copyright">
        <p>Copyright - David Jesús Ruiz de Valdivia Torres - SIBW 2021</p>
      </div>
    </div>
  </div>
</body>

</html>
