{% extends "padre.html" %}

	{% block central %}

	<div class="parte_baja">
		

		<div class="tabla_panel">
			<table>
				<tr>
					<td><img src="img/boy_pablo.jpg" alt="boy pablo"><br><a href="evento.php?ev=1">
							<p>boy pablo - marzo en Madrid</p>
						</a></td>
					<td><img src="img/joji.jpg" alt="Joji"><br><a href="evento.php?ev=2">
						<p>Joji - mayo en Ciudad Real</p>
						</a></td>
					<td><img src="img/drake.jpg" alt="drake"><br><a href="evento.php?ev=4">
					<p>Drake - septiembre en Barcelona</p>
					</a></td>
				</tr>

				<tr>
					<td><img src="img/cure.jpg" alt="cure"><br><a href="evento.php?ev=5">
						<p>The Cure - abril en Sevilla</p>
					</a></td>
					<td><img src="img/trueno.jpg" alt="Trueno"><a href="evento.php?ev=6">				
						<p><br>Trueno - enero en Granada</p>
					</a></td>
					<td><img src="img/gambino.jpg" alt="gambino"><a href="evento.php?ev=7">
						<p><br>Childish Gambino - noviembre en Jaén</p>
					</a></td>
				</tr>

				<tr>
					<td><img src="img/drums.jpg" alt="drums"><a href="evento.php?ev=8">
						<p><br>The Drums - septiembre en Madrid</p>
					</a></td>
					<td><img src="img/orange.jpg" alt="orange"><a href="evento.php?ev=9">
						<p><br>Rex Orange County - junio en La Rioja</p>
					</a></td>
					<td><img src="img/cupido.jpg" alt="cupido"><a href="evento.php?ev=10">
						<p><br>Cupido - mayo en Valencia</p>
					</a></td>
				</tr>
			</table>

			{% endblock %}
